<% if is_admin? %>
  <h2><%= link_to "New Attraction", new_attraction_path %><h2>
<%end%>
<table>
  <tr>
    <th>Name<th>
    <th>Tickets<th>
    <th>Details<th>
  </tr>

  <% @attractions.each do |attraction| %>
  <tr>
    <td><%=attraction.name%></td>
    <td><%=attraction.tickets%></td>
    <td>
      <% if is_admin?%>
        <%=link_to "Show #{attraction.name}", attraction_path(attraction)%>
      <% else %>
        <%=link_to "Go on #{attraction.name}", attraction_path(attraction)%>
      <%end%>
    </td>
  </tr>

  <%end%>
</table>
